MQTT/node-red/.flows.json.backup
[{"id":"14fed8e1.fc58b7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"745c88ce.665358","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6f5a7662.cf63a8","type":"ui_tab","z":"","name":"Power2Heat","icon":"file","order":1,"disabled":false,"hidden":false},{"id":"cae4a2ba.ae2e2","type":"ui_group","z":"","name":"Info","tab":"6f5a7662.cf63a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b585e81c.713dd","type":"ui_group","z":"","name":"Temperature","tab":"6f5a7662.cf63a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"3c18c266.e53396","type":"mqtt-broker","z":"","name":"myBroker","broker":"broker","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f3e3d0cf.575e08","type":"ui_group","z":"","name":"Water flow","tab":"6f5a7662.cf63a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"79118663.f347a","type":"mqtt in","z":"14fed8e1.fc58b7","name":"Temperature in","topic":"boiler/tempIn","qos":"2","datatype":"auto","broker":"3c18c266.e53396","x":130,"y":300,"wires":[["fd20ab07.d27668"]]},{"id":"ba2480f1.42dcd","type":"mqtt in","z":"14fed8e1.fc58b7","name":"Temperature out","topic":"boiler/tempOut","qos":"2","datatype":"auto","broker":"3c18c266.e53396","x":130,"y":400,"wires":[["46d9a6e2.a393"]]},{"id":"fd20ab07.d27668","type":"ui_chart","z":"14fed8e1.fc58b7","name":"Temperature in","group":"b585e81c.713dd","order":1,"width":0,"height":0,"label":"Temperature in","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#0432ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":300,"wires":[[]]},{"id":"8c8aa0b2.b55a7","type":"ui_gauge","z":"14fed8e1.fc58b7","name":"Water flow","group":"f3e3d0cf.575e08","order":1,"width":0,"height":0,"gtype":"gage","title":"Water flow","label":"l/min","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":500,"wires":[]},{"id":"ca513b5e.1371f8","type":"ui_switch","z":"14fed8e1.fc58b7","name":"Switch","label":"Switch","tooltip":"","group":"cae4a2ba.ae2e2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"boiler/switch","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":100,"wires":[["23bd7cca.efba04"]]},{"id":"23bd7cca.efba04","type":"mqtt out","z":"14fed8e1.fc58b7","name":"Switch","topic":"","qos":"","retain":"","broker":"3c18c266.e53396","x":310,"y":100,"wires":[]},{"id":"228e0af7.29a456","type":"mqtt in","z":"14fed8e1.fc58b7","name":"Water flow","topic":"boiler/waterFlow","qos":"2","datatype":"auto","broker":"3c18c266.e53396","x":120,"y":500,"wires":[["8c8aa0b2.b55a7"]]},{"id":"1145162d.3da9c2","type":"ui_text","z":"14fed8e1.fc58b7","group":"cae4a2ba.ae2e2","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":200,"wires":[]},{"id":"46d9a6e2.a393","type":"ui_chart","z":"14fed8e1.fc58b7","name":"Temperature out","group":"b585e81c.713dd","order":2,"width":0,"height":0,"label":"Temperature out","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff2600","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff2600","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":400,"wires":[[]]},{"id":"7ff9b655.aec77","type":"mqtt in","z":"14fed8e1.fc58b7","name":"Status","topic":"boiler/status","qos":"2","datatype":"auto","broker":"3c18c266.e53396","x":110,"y":200,"wires":[["1145162d.3da9c2"]]}]