MQTT/node-red/flows.json
[{"id":"3fdbfe13.d4e8ba","type":"tab","label":"NodeMCU <-> Mosquitto <-> MongoDB","disabled":false,"info":""},{"id":"1e9c853c.15bddb","type":"tab","label":"mongo-inject-data","disabled":false,"info":"This flow injects some sample data into mongo..."},{"id":"4a1255a7.43576c","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2d484cba.7efb2c","type":"ui_tab","z":"","name":"test","icon":"dashboard","disabled":false,"hidden":false},{"id":"59483bf6.91fec4","type":"ui_group","z":"","name":"test","tab":"2d484cba.7efb2c","disp":true,"width":"6","collapse":false},{"id":"de4ea6d.cc9f5d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"643ccae4.3425c4","type":"mongodb3","z":"","uri":"mongodb://mongo:27017/power2heat","name":"","options":"","parallelism":"-1"},{"id":"e144c36c.ec68b","type":"mongodb3 in","z":"1e9c853c.15bddb","service":"_ext_","configNode":"643ccae4.3425c4","name":"","collection":"userdata","operation":"insert","x":620,"y":680,"wires":[["2c7f3ea2.d104ca","52d1e323.384fb4"]]},{"id":"54e73146.3c7288","type":"http in","z":"1e9c853c.15bddb","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":160,"y":540,"wires":[["b2b12433.ca9aa8"]]},{"id":"b2b12433.ca9aa8","type":"function","z":"1e9c853c.15bddb","name":"","func":"msg.payload=msg.req.body\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":600,"wires":[["e144c36c.ec68b"]]},{"id":"2c7f3ea2.d104ca","type":"debug","z":"1e9c853c.15bddb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":780,"wires":[]},{"id":"52d1e323.384fb4","type":"http response","z":"1e9c853c.15bddb","name":"","statusCode":"","headers":{},"x":1000,"y":580,"wires":[]},{"id":"a0bd44c0.54a488","type":"inject","z":"1e9c853c.15bddb","name":"","topic":"","payload":"{\"user\":\"testuser\",\"password\":\"testpassword\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":860,"wires":[["e144c36c.ec68b"]]},{"id":"27fe4373.bdb7c4","type":"mongodb3 in","z":"1e9c853c.15bddb","service":"_ext_","configNode":"643ccae4.3425c4","name":"","collection":"boilerdata","operation":"insert","x":650,"y":280,"wires":[["644ba943.e41e8","1f7a3894.0af83f"]]},{"id":"a0286b2a.21f22","type":"http in","z":"1e9c853c.15bddb","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":180,"y":140,"wires":[["322cace2.87de3c"]]},{"id":"322cace2.87de3c","type":"function","z":"1e9c853c.15bddb","name":"","func":"msg.payload=msg.req.body\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["27fe4373.bdb7c4"]]},{"id":"644ba943.e41e8","type":"debug","z":"1e9c853c.15bddb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":380,"wires":[]},{"id":"1f7a3894.0af83f","type":"http response","z":"1e9c853c.15bddb","name":"","statusCode":"","headers":{},"x":1020,"y":180,"wires":[]},{"id":"5cab5f9d.9fac58","type":"inject","z":"1e9c853c.15bddb","name":"","topic":"","payload":"{\"boilerID\":\"testBoiler_1\",\"capacity\":1420,\"ts\":\"01/04/2020 20:01:57\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":460,"wires":[["27fe4373.bdb7c4"]]},{"id":"ceed7ace.7a3c2","type":"mongodb3 in","z":"3fdbfe13.d4e8ba","service":"_ext_","configNode":"643ccae4.3425c4","name":"","collection":"boilerdata","operation":"insert","x":590,"y":60,"wires":[[]]},{"id":"fce0e384.e4ee3","type":"mqtt in","z":"3fdbfe13.d4e8ba","name":"","topic":"P2H/data","qos":"2","datatype":"json","broker":"4a1255a7.43576c","x":140,"y":100,"wires":[["ceed7ace.7a3c2","ec6f1007.be3bd8"]]},{"id":"ad4846b7.00cd18","type":"mqtt out","z":"3fdbfe13.d4e8ba","name":"MQTT P2H/___/commands","topic":"","qos":"","retain":"","broker":"4a1255a7.43576c","x":820,"y":540,"wires":[]},{"id":"ec6f1007.be3bd8","type":"debug","z":"3fdbfe13.d4e8ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":140,"wires":[]},{"id":"6a39c43d.0267ec","type":"debug","z":"3fdbfe13.d4e8ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":720,"wires":[]},{"id":"a482f3f.312011","type":"function","z":"3fdbfe13.d4e8ba","name":"epochtime + 10sec.","func":"var time= msg.payload;\n\ntime = parseInt(time/1000);  //to epochtime\n\n\nmsg.payload = time+10; // 10s. delay\n\nvar newMsg = { payload: \"{\\\"timestamp\\\":\"+msg.payload+\",\\\"power\\\":true}\" };\n\nreturn newMsg;","outputs":1,"noerr":0,"x":360,"y":720,"wires":[[]]},{"id":"77c7439d.6d9794","type":"inject","z":"3fdbfe13.d4e8ba","name":"","topic":"","payload":"{\"P2H\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":540,"wires":[["f0e378f2.9b423"]]},{"id":"cca45094.513018","type":"function","z":"3fdbfe13.d4e8ba","name":"add topic","func":"var boilerID = \"ABCDEFGH\";\nmsg.topic = \"P2H/\"+boilerID+\"/settings\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["2ce6b7ad.68e4a"]]},{"id":"d559f4ec.77304","type":"inject","z":"3fdbfe13.d4e8ba","name":"inject settings","topic":"","payload":"{\"volume\":120,\"wattage\":3200,\"mintemp\":60,\"maxtemp\":90,\"desiredtemp\":68}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":440,"wires":[["cca45094.513018","7140c967.6d973"]]},{"id":"2ce6b7ad.68e4a","type":"mqtt out","z":"3fdbfe13.d4e8ba","name":"MQTT=> P2H/___/settings","topic":"","qos":"0","retain":"","broker":"4a1255a7.43576c","x":750,"y":440,"wires":[]},{"id":"7140c967.6d973","type":"function","z":"3fdbfe13.d4e8ba","name":"add topic","func":"var boilerID = \"test\";\nmsg.topic = \"P2H/\"+boilerID+\"/settings\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["2ce6b7ad.68e4a"]]},{"id":"f0e378f2.9b423","type":"function","z":"3fdbfe13.d4e8ba","name":"add topic","func":"var boilerID = \"ABCDEFGH\";\nmsg.topic = \"P2H/\"+boilerID+\"/commands\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":560,"wires":[["ad4846b7.00cd18","6a39c43d.0267ec"]]},{"id":"2d154e5e.5ca8fa","type":"inject","z":"3fdbfe13.d4e8ba","name":"","topic":"","payload":"{\"P2H\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":620,"wires":[["f0e378f2.9b423"]]}]